body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.coming-soon-container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.shop-header {
    margin-bottom: 30px;
}

.shop-logo {
    width: 100px; /* Adjust as needed */
    height: auto;
    margin-bottom: 10px;
}

.shop-name {
    font-size: 48px;
    color: #333;
    margin: 0;
}

h2 {
    font-size: 36px;
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
}

.subscription-container {
    margin-top: 20px;
}

#subscribe-form {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#subscribe-form input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}

#subscribe-form button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#subscribe-form button:hover {
    background-color: #218838;
}

#subscribe-message {
    color: #28a745;
    font-size: 16px;
}

.social-links {
    margin-top: 30px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.facebook {
    background-color: #3b5998;
}

.facebook:hover {
    background-color: #3400f0;
}

.instagram {
    background-color: #E1306C;
}

.instagram:hover {
    background-color: #c90097;
}

.whatsapp {
    background-color: #25D366;
}

.whatsapp:hover {
    background-color:#03792e;
}
